extends layout

block navigation
  header.nav-wrap.animated.fadeInUp
    div.nav-top
      div.nav-logo(onclick="location.href='/index.html'")
    div.nav-tagline
      h4 Franc.ly
      span.tagline Coder and storyteller

block header
  div.logo
    h1= page.title
    p.description= locals.description

block content
  include author
  article.article
    section.content!= typogr(page.html).typogrify()
  - var projects = env.helpers.getProjects(contents);
  each project in projects
    article.project.project-list.intro
      header
        h2
          a(href=project.url)= project.title
          span.date= moment.utc(project.date).format('DD. MMMM YYYY')          
      section.content
        !{ typogr(article.intro).typogrify() }
        if project.hasMore
          p.more
            a(href=project.url) more
  
block wrapper
  div#wrapper
    block navigation