
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  div.avatar-wrap.animated.fadeInUp
    div.nav-logo-article(onclick="location.href='/index.html'")
  h1.animated.fadeInUp= page.title
  p.author.animated.fadeInUp
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.nav-back
    a(href='../../index.html') « Main
  div.nav-back.social-footer
    a(href="https://github.com/francamps")
      img(src="/css/images/social/github.png" width="32px")
    a(href="https://vimeo.com/franccampsfebrer")
      img(src="/css/images/social/vimeo.png" width="32px")
    a(href="http://www.twitter.com/francamps")
      img(src="/css/images/social/twitter.png" width="32px")
    a(href="https://www.linkedin.com/pub/franc-camps-febrer/12/209/860")
      img(src="/css/images/social/linkedin.png" width="32px")
    a(href="mailto:hi@franc.ly")
      img(src="/css/images/social/mail.png" width="32px")

block footer
  section.copy
    p #{ new Date().getFullYear() } by 
      a(href='http://www.twitter.com/francamps') @francamps 
      &mdash; powered by&nbsp;
      a(href='https://github.com/jnordberg/wintersmith') Wintersmith
      //- please leave the "powered by" if you use the design       

block wrapper
  div#wrapper.content-detail
    div.content-wrap
      block header
    div.content-wrap
      block content          
  footer
    div.content-wrap      
      block footer