extends layout

block header
  div.logo
    h1= "Stories about life, tech, art and politics"

block content
  - var lineHeight = 2.2;
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -  return item.date.getFullYear()
  - }).value()
  - for (var archive in archives) {
  - archives[archive] = _.groupBy(archives[archive], function(item){
  - return item.date.getMonth();})
  - }
  - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    ul
      - var yearsK = _.chain(archives).keys().reverse().value()
      - for(var year in yearsK)
        - months = archives[yearsK[year]]
        - var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
        li
          span.year-label(style='line-height:' + yearHeight+'em')=yearsK[year]
          ul(style='margin-left:4em')
            - var monthsK = _.chain(months).keys().reverse().value()
            - for(month in monthsK){
              - var monthHeight = lineHeight * months[monthsK[month]].length
              li
                span.month-label(style='line-height:'+monthHeight+'em')=month_names[monthsK[month]]
                ul(style='margin-left:7em')
                  each item in months[monthsK[month]]
                    li(style='height:'+ lineHeight + 'em;line-height:'+ lineHeight + 'em;')
                      - var title = item.title
                      //- if (item.title.length > 30)
                        //- title = item.title.slice(0, 30) + "..."
                      a(href=item.url)=title
            - }            


block footer
  section.copy
    p #{ new Date().getFullYear() } by 
      a(href='http://www.twitter.com/francamps') @francamps 
      &mdash; powered by&nbsp;
      a(href='https://github.com/jnordberg/wintersmith') Wintersmith
      //- please leave the "powered by" if you use the design       


block wrapper
  div#wrapper
    block navigation
    div#content-main
      div.content-wrap
        block header
      div.content-wrap
        block content
  footer
    div.content-wrap
      block footer